!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title Resume - Audrey H. Tan
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %link(rel="stylesheet" href="assets/css/bootstrap.css" media="screen")
    %link(rel="stylesheet" href="assets/css/style.css")
    %link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css')
    %link(href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css')
    %link(href="http://fonts.googleapis.com/css?family=Italianno" rel='stylesheet' type='text/css')
    %link(rel="icon" href="assets/img/favicon.ico" type="image/x-icon")
    %link(rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon")
    %script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-41313867-1', 'audreyhtan.com');ga('send', 'pageview');
  %body
    .container-a-fluid
      .container-resume
        #main
          .row-fluid
            .span12
              #resumetitle
                %a(href="index.html")
                  Audrey H. Tan
          .row-fluid
            .span8
              %section
                / %h2.work-experience Work Experience
                %article
                  .date-ranges
                    %span.job-start Aug 2013 -
                    %span.job-end Dec 2013
                  %hgroup
                    %h3.job-employer Easy Pairings
                    %h4.job-location New York
                    %h5.job-title UX / Front-End Dev
                    %ul.job-details
                      %li Created Visual Identity and Style Guides
                      %li Did front-end web development and interactive design
                      %li Directed User Experience for desktop and mobile platforms
                      %li Developed rapid prototyping techniques
                %article
                  .date-ranges
                    %span.job-start Nov 2011 -
                    %span.job-end present
                  %hgroup
                    %h3.job-employer Jovial Corp.
                    %h4.job-location New York
                    %h5.job-title Founder / Product Design
                    %ul.job-details
                      %li Created Waggit.com - an online community for New Yorkers to save money on dog services
                      %li Designed entire user experience, conducting customer interviews and usability testing
                      %li Responsible for product development, creating wireframes, user flows and interaction specs
                      %li Developed social media and content strategies
                      %li Won Best Overall Startup at Startup Weekend New York (Fall 2011)
                %article
                  .date-ranges
                    %span.job-start Jan 2006 -
                    %span.job-end April 2011
                  %hgroup
                    %h3.job-employer Capgemini
                    %h4.job-location Chicago
                    %h5.job-title Senior Consultant / UX Design
                    %ul.job-details
                      %li Designed interfaces and managed usability testing for Health Insurance software and eCommerce site
                      %li Lead requirements teams within Capgemini's Financial Services group, focusing on Payer technologies
                      %li Performed project management duties, including change management, resource allocation and budget planning
                      %li Worked across all product lines - Individual Medical, Short Term, Supplemental and Group Insurance Plans
                -# %article
                  .date-ranges
                    %span.job-start Aug 2002 -
                    %span.job-end May 2004
                  %hgroup
                    %h3.job-employer UIUC Learning Technology
                    %h4.job-location Champaign, IL
                    %h5.job-title Computer Consultant
                    %ul.job-details
                      %li Answered technical questions for dorm residents
                      %li Maintained and monitored computer facilities
                      %li Managed network hardware inventory
                      %li Got my nerd on
            .span4
              %section
                %h2.skills Skills
                %article
                  %p HTML5 & CSS3
                  %p HAML & SASS
                  %p jQuery
                  %p Git
                  %p Adobe Photoshop & Illustrator
                  %p Wordpress Development
              %section
                %h2.education Education
                %article
                  %h5 The Starter League in Chicago
                  %p Spring 2013
                  %p Advanced HTML/CSS
                  %p Gearlance.com project team
                %article
                  %h5 University of IL Urbana-Champaign
                  %p 2000 - 2004
                  %p B.S – Business Administration
                  %p Dean’s List
                %article
                  %h5 Xian University
                  %p Summer 2005
                  %p Chinese language study
              %section
                %h2.contact Contact
                %article
                  %p audreyhtan@gmail.com
                  %p New York, NY
                  %p audreyhtan.com/work
            .span12
              .social-resume
                .circle.facebook
                  %a(href="https://www.facebook.com/audrey.tan.777")
                .circle.twitter
                  %a(href="https://twitter.com/audreyhtan")
                .circle.linkedin
                  %a(href="http://www.linkedin.com/pub/audrey-tan/3/b3b/ba3")
                .circle.tumblr
                  %a(href="http://readaudrey.tumblr.com/")
              















