!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title Read Audrey
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %link(rel="stylesheet" href="assets/css/bootstrap.css" media="screen")
    %link(rel="stylesheet" href="assets/css/style.css")
    %link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css')
    %link(href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css')
    %link(href="http://fonts.googleapis.com/css?family=Italianno" rel='stylesheet' type='text/css')

  %body
    .container-a-fluid
      %header.center-head
        .titlenav
          %h1
            Read Audrey
          %h4 A lady in progress
          .navbar-a
            %ul.navbar-b.group
              %li
                %a(href="index.html")
                  Welcome
              %li
                %a(href="about.html")
                  About
              %li
                %a(href="experiments.html")
                  Experiments
              %li
                %a(href="photos.html")
                  Photos
              %li
                %a(href="family.html")
                  Family


      .container-resume
        #main
          .row-fluid
            .span12
              %h1#resumetitle
                Audrey H. Tan
          .row-fluid
            .span8
              %section
                / %h2.work-experience Work Experience
                %article
                  .date-ranges
                    %span.job-start Nov 2011 -
                    %span.job-end present
                  %hgroup
                    %h3.job-employer Waggit.com
                    %h4.job-location New York
                    %h5.job-title Founder
                    %ul.job-details
                      %li Created Waggit - an online community for New Yorkers to save money on dog services
                      %li Reponsible for product and business development
                      %li Designed entire user experience, conducting customer interviews and usability testing
                      %li Developed social media and content strategies
                %article
                  .date-ranges
                    %span.job-start Jan 2006 -
                    %span.job-end April 2011
                  %hgroup
                    %h3.job-employer Capgemini
                    %h4.job-location Chicago
                    %h5.job-title Senior Consultant
                    %ul.job-details
                      %li Lead requirements teams within Capgemini's Financial Services group, focusing on Payor technologies
                      %li Performed project management duties, including change management, resource allocation and budget planning
                      %li Designed user experiences for agent software and eCommerce site
                      %li Worked across all product lines - Individual Medical, Short Term, Supplemental and Group Insurance Plans
            .span4
              %section
                %h2.skills Skills
                %article
                  %p HTML & CSS3
                  %p HAML & SASS
                  %p jQuery
                  %p Adobe Photoshop & Adobe Illustrator
                  %p Wordpress Development
                  %p Git
              %section
                %h2.education Education
                %article
                  %h5 The Starter League in Chicago
                  %p Spring 2013
                  %p Advanced HTML/CSS
                %article
                  %h5 University of IL Urbana-Champaign
                  %p 2000 - 2004
                  %p B.S – Business Administration
                  %p Dean’s List
                %article
                  %h5 Xian University
                  %p Summer 2005
                  %p Chinese language study
          .row-fluid
            .span12
              .social
                .circle.facebook
                  %a(href="https://www.facebook.com/audrey.tan.777")
                .circle.twitter
                  %a(href="https://twitter.com/audreyhtan")
                .circle.linkedin
                  %a(href="http://www.linkedin.com/pub/audrey-tan/3/b3b/ba3")
                .circle.tumblr
                  %a(href="http://readaudrey.tumblr.com/")













