!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title Audrey H. Tan
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %link(rel="stylesheet" href="assets/css/bootstrap.css" media="screen")
    %link(rel="stylesheet" href="assets/css/style.css")
    %link(rel="stylesheet" href="assets/css/stylesheet.css")
    %link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css')
    %link(href='http://fonts.googleapis.com/css?family=Lato:300,700' rel='stylesheet' type='text/css')
    %link(href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400italic' rel='stylesheet' type='text/css')
    %link(href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css')
    %link(href="http://fonts.googleapis.com/css?family=Italianno" rel='stylesheet' type='text/css')
    %link(rel="icon" href="assets/img/favicon.ico" type="image/x-icon")
    %link(rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon")
    %link(rel="stylesheet" href="assets/fancybox/source/jquery.fancybox.css?v=2.1.4" type="text/css" media="screen")
    %link(rel="stylesheet" href="assets/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen")
    %script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-41313867-1', 'audreyhtan.com');ga('send', 'pageview');
    %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    :javascript
      $(function() {$('a[href*=#]:not([href=#])').click(function() {if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {var target = $(this.hash);target = target.length ? target : $('[name=' + this.hash.slice(1) +']');if (target.length) {$('html,body').animate({scrollTop: target.offset().top}, 1000);return false;}}});});
  %body
    %section.top
      .welcome.center-head
        %h1
          Wor
          %span.kwor
            k
          %span.swork
            s
        .divide
          %p.of
            of
        %h2.audreyt
          Audrey Tan
    %section.projects#select
      .container
        .section-head
          %span.head
            %h1.content
              Collection
        .row
          %a(href="#ep-showcase")
            .project.ep
              .project-name
                Easy Pairings
          %a(href="#waggit-showcase")
            .project.waggit
              .project-name
                Waggit
          %a(href="#torres-showcase")
            .project.torres
              .project-name
                TVLG
          %a(href="#gearlance-showcase")
            .project.gearlance
              .project-name
                Gearlance
          %a(href="#homeswap-showcase")
            .project.homeswap
              .project-name
                Homeswap
          %a(href="#assurant-showcase")
            .project.assurant
              .project-name
                Assurant Health
        .row
          .span6.center-text
            %blockquote.top-margin.no-border
              .quote
                &#8220;We dream to give ourselves hope. To stop dreaming - well, that’s like saying you can never change your fate.&#8221;
              %small.amy
                Amy Tan, The Hundred Secret Senses
    %section.projects#ep-showcase
      .container
        .row
          .span3
            %h1.company
              Easy 
              %br
                Pairings
            %hr
            .one-liner
              One-click hiring for restaurants
            %p.description
              %span.firstletter 
                B
              ased in New York, Easy Pairings takes the pain out of hiring for restaurants. Using Easy Pairings, restaurants are able to bypass the tedious tasks of posting job opening to sites like Craigslist, filtering dozens of applicants and scheduling interviews.  Easy Pairings lets restaurant managers skip straight to the interviews and gets worthy candidates easier access to jobs they really want.  Working with a small team, I did web design and front end development while working with a Python back-end programmer.
            %p.description
              %ul
                %li Visual Identity
                %li HTML5, CSS3, LESS
                %li jQuery, Javascript
                %li Responsive Design
                %li Prototyping
                %li Twitter Bootstrap 3
                %li Asset Creation
                %li Copywriting
            %a(href="#select")
              contents
          .span8.offset1
            .row-a.grande
              .col-5
                %a(href="assets/img/ep-style.png" class="fancybox" rel="gallery" title="Custom Style Guide on Twitter Bootstrap 3 (LESS, Modular CSS)")
                  %img(src="assets/img/ep-style.png")
            .row-a.tall           
              .col-1
                %a(href="assets/img/ep-mobile.png" class="fancybox" rel="gallery" title="Contact Us page on mobile (Responsive Design, Front-End Dev, Cross-Browser Testing)")
                  %img(src="assets/img/ep-mobile.png")
              .col-2
                %a(href="assets/img/ep-pricing.png" class="fancybox" rel="gallery" title="Pricing Page  (Product dev, UX, Copywriting, Front-End Dev)")
                  %img(src="assets/img/ep-pricing.png")
              .col-2
                %a(href="assets/img/ep-clients.png" class="fancybox" rel="gallery" title="Clients (Photoshop, Web Design)")
                  %img(src="assets/img/ep-clients.png")
    %section.projects#waggit-showcase
      .container
        .row
          .span3
            %h1.company
              Waggit 
            %hr
            .one-liner
              Your neighborhood dog sitting exchange
            %p.description
              %span.firstletter
                A
              fter five years of IT consulting, Waggit was my brainchild that got me hooked on entreprenuership and plugged into the New York startup community.  A website for dog owners to connect and help each other with dog sitting and dog walking, it was my first attempt at creating something from the ground up. I formed my own company and spent two years developing the product, overseeing design and development, doing marketing and building strategic partnerships.  It was the most challenging project of my career. Dogs and people helping each other make me happy, so I thought - &#8220;Why not combine the two?&#8221;
            %p.description
              %ul
                %li Product Management
                %li Usability Testing
                %li Business Development
                %li Social Media and Marketing
                %li Copywriting
            %a(href="#select")
              contents
          .span8.offset1
            .row-a.grande
              .col-5
                %a(href="assets/img/waggit-home2.jpg" class="fancybox" rel="gallery" title="Waggit landing page (Copywriting, Wireframing)")
                  %img(src="assets/img/waggit-home2.jpg")
            .row-a.tall           
              .col-2
                %a(href="assets/img/waggit-wf-1.png" class="fancybox" rel="gallery" title="Wireframe of user account settings (User Experience, Requirements Definition)")
                  %img(src="assets/img/waggit-wf-1.png")
              .col-1
                %a(href="assets/img/waggit-wf-2.png" class="fancybox" rel="gallery" title="Wireframe of user profile (User Experience, Requirements Definition) ")
                  %img(src="assets/img/waggit-wf-2.png")
              .col-1
                %a(href="assets/img/waggit-ad-1.png" class="fancybox" rel="gallery" title="Poster promoting a Waggit sponsored fundraiser for The Animal Haven Shelter in Soho (Business Dev, Design, Event Planning)")
                  %img(src="assets/img/waggit-ad-1.png")
              .col-1
                %a(href="assets/img/waggit-ad-2.png" class="fancybox" rel="gallery" title="Printed bulletins to distribute in local neighborhoods (Design, Illustration)")
                  %img(src="assets/img/waggit-ad-2.png")
    %section.projects#torres-showcase
      .container
        .row
          .span3
            %h1.company
              TVLG
            %hr
            .one-liner
              Torres Venture Law Group - a leader in patent law  
            %p.description
              %span.firstletter
                J
              orge Torres, the founder of TVLG, approached me to build a custom website for his law firm.  The site needed to explain their services and showcase his deep knowledge of patent law.  After capturing high-level requirements and getting a sense of the brand, I designed and developed a custom Wordpress site.  This required going through hundreds of stock photos for images that matched the content, selecting typography and creating custom templates.  The final result was a professional looking website with a modern edge. 
            %p.description
              %ul
                %li Wordpress Development
                %li Typography
                %li Art Direction
                %li Responsive Design
            %a(href="#select")
              contents
          .span8.offset1
            .row-a.grande
              .col-5
                %a(href="assets/img/torres-home.png" class="fancybox" rel="gallery" title="Landing page (Typography, Design)")
                  %img(src="assets/img/torres-home.png")
            .row-a.tall           
              .col-2
                %a(href="assets/img/torres-contact.png" class="fancybox" rel="gallery" title="Contact Page (Design, Wordpress Dev)")
                  %img(src="assets/img/torres-contact.png")
              .col-1
                %a(href="assets/img/torres-guide.png" class="fancybox" rel="gallery" title="Page from Design and Style Guide (Design, Client Work)")
                  %img(src="assets/img/torres-guide.png")
              .col-2
                %a(href="assets/img/torres-bio.png" class="fancybox" rel="gallery" title="Biography of Jorge Torres (Wordpress Dev, Typography)")
                  %img(src="assets/img/torres-bio.png")
    %section.projects#gearlance-showcase
      .container
        .row
          .span3
            %h1.company
              Gearlance
            %hr
            .one-liner
              P2P rental marketplace for photography and video gear
            %p.description
              %span.firstletter
                P
              art of my journey as a web designer was doing a 3-month program called The Starter League in Chicago, IL.  During the program, I learned advanced HTML and CSS techniques and used preprocessors like HAML and SASS in a Ruby on Rails environment.  As a final project, I joined a team of developers to create Gearlance, a marketplace where people rent camera equipment directly from their peers, save money and be part of a community. The goal was to build a platform that could be white-labeled to support a P2P marketplace within any industry vertical.  Built on Twitter Bootstrap, I crafted the user experience, design aesthetic and did front end development.
            %p.description
              %ul
                %li HTML5, CSS3
                %li jQuery
                %li Twitter Bootstrap 2
                %li Asset Creation
                %li Copywriting
            %a(href="#select")
              contents
          .span8.offset1
            .row-a.grande
              .col-5
                %a(href="assets/img/gearlance-home.jpg" class="fancybox" rel="gallery" title="Landing Page (Copywriting, Design)")
                  %img(src="assets/img/gearlance-home.jpg")
            .row-a.tall           
              .col-1
                %a(href="assets/img/gearlance-list.jpg" class="fancybox" rel="gallery" title="View of listed gear (Front End Dev)")
                  %img(src="assets/img/gearlance-list.jpg")
              .col-2
                %a(href="assets/img/gearlance-how.jpg" class="fancybox" rel="gallery" title="How It Works section of landing page (Front End Dev, Asset Creation, Copywriting)")
                  %img(src="assets/img/gearlance-how.jpg")
              .col-2
                %a(href="assets/img/gearlance-item.jpg" class="fancybox" rel="gallery" title="View of an individual item (Front End Dev, Usability)")
                  %img(src="assets/img/gearlance-item.jpg")
    %section.projects#homeswap-showcase
      .container
        .row
          .span3
            %h1.company
              Homeswap
            %hr
            .one-liner
              A better way to home exchange
            %p.description
              %span.firstletter
                T
              he idea of home exchange has been around a long time, but current popular sites have antiquated user experiences and designs.  So when the founder of HomeSwap approached me to be part of his team to make a site that made HomeSwapping easier, I thought it would be a great chance for me to practice my writing and develop inbound marketing strategies using social media.  I wrote for the blog, created e-mail marketing campaigns and was responsible for the Facebook and Twitter accounts.  I also interacted with members of the HomeSwap community to do customer development.
            %p.description
              %ul
                %li Social Media
                %li Blogging
                %li E-mail Marketing
                %li Customer Development
            %a(href="#select")
              contents
          .span8.offset1
            .row-a.grande
              .col-5
                %a(href="assets/img/homeswap-blog.png" class="fancybox" rel="gallery" title="HomeSwap blog (Writing, Blogger Outreach")
                  %img(src="assets/img/homeswap-blog.png")
            .row-a.tall           
              .col-2
                %a(href="assets/img/homeswap-fb.jpg" class="fancybox" rel="gallery" title="HomeSwap's Facebook page (Social Media)")
                  %img(src="assets/img/homeswap-fb.jpg")
              .col-1
                %a(href="assets/img/homeswap-email.png" class="fancybox" rel="gallery" title="HomeSwap Email Campaign (E-mail Marketing, MailChimp)")
                  %img(src="assets/img/homeswap-email.png")
              .col-2
                %a(href="assets/img/homeswap-list.jpg" class="fancybox" rel="gallery" title="HomeSwap Listing (Customer Development)")
                  %img(src="assets/img/homeswap-list.jpg")
    %section.projects#assurant-showcase
      .container
        .row
          .span3
            %h1.company
              Assurant Health
            %hr
            .one-liner
              Fortune 500 Health Insurance Provider with multi-product, multi-channel offerings
            %p.description
              %span.firstletter
                A
              s a senior consultant at Capgemini, I generated specs for developers to build consumer and agent facing platforms that let customers get quotes and enroll for major medical health coverage.  This required learning federal and state regulations and a thorough understanding of Assurant Health's user interface. I delivered process flow diagrams, use cases, wireframes, low fidelity mockups and interactive prototypes. I was also a project manager for a large-scale implementation of 3rd party software that replaced the entire legacy agent licensing technology at Assurant.  I presented solutions and reported status to executive leadership while managing cross-functional teams. 
            %p.description
              %ul
                %li Project Management
                %li Wireframing
                %li Use Case Creation
                %li Usability Testing
                %li Requirements Definition
            %a(href="#select")
              contents
          .span8.offset1
            .row-a.grande
              .col-5
                %a(href="assets/img/assurant-highfed.png" class="fancybox" rel="gallery" title="High fidelity mockup of getting a quote for Supplemental coverage (Wireframes, Prototyping)")
                  %img(src="assets/img/assurant-highfed.png")
            .row-a.tall           
              .col-2
                %a(href="assets/img/assurant-confirm.png" class="fancybox" rel="gallery" title="Wireframe of Confirmation page illustrating conditional text (Requirements Definition, Wireframes)")
                  %img(src="assets/img/assurant-confirm.png")
              .col-1
                %a(href="assets/img/assurant-flow.png" class="fancybox" rel="gallery" title="Flow diagram of the consumer enrollment process (Requirements Definition, Process Flow)")
                  %img(src="assets/img/assurant-flow.png")
              .col-2
                %a(href="assets/img/assurant-prior.png" class="fancybox" rel="gallery" title="Wireframe of Prior Coverage interface (Prototyping, Wireframes, Usability)")
                  %img(src="assets/img/assurant-prior.png")
    %section#about-audrey
      .container
        .row
          .span4
            %img(id="audreyphoto" src="assets/img/interview-audrey.jpeg" class="img-rounded" alt="audrey tan" title="audrey photo")
          .span8
            %h4
              About Audrey
            %p
              Audrey is a New York based product manager, web designer, and front-end developer.  She loves beautiful things on the web.  She believes in taking risks, second chances and the inherent good of all people.  Reach out and say &#8220;Hi!&#8221;
            %a(href="http://audreyhtan.com")
              Visit her website

    %script(type="text/javascript" src="assets/fancybox/lib/jquery.mousewheel-3.0.6.pack.js")
    %script(type="text/javascript" src="assets/fancybox/source/jquery.fancybox.pack.js?v=2.1.4")
    %script(type="text/javascript" src="assets/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.5")
    :javascript
      $(document).ready(function() {
        $(".fancybox").fancybox();
        $(".fancybox").fancybox({
          padding : 0,
          helpers : {
              title: {
                  type: 'over'
              }
          }
        });
      });