.center-head {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}

.center-head h1 {
	font-family: 'Georgia', Times;
	letter-spacing: 20px;
	font-weight: 500;
}

.center-head h4 {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 1px;
	font-weight: 200;
}

.navbar {
	text-align: center;
}

.navbar-inner {
	min-height: 40px;
	padding-right: 20px;
	padding-left: 20px;
	margin: auto;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	color: #6a6a6a;
}

.top {
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	width: 470px;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #c03030;
  text-decoration: none;
  background-color: transparent;
}

h4.welcome {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
}

.social {
	margin-top: 50px;
}

.circle {
	border-radius: 100%;
	/*background: #181818;*/
	background: #777;
	list-style-type: none;
	width: 48px;
	height: 48px;
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center;
	position: relative; /*Containing div must have a position value */
    display: inline-block;
}

.circle a {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-decoration:none; /* Makes sure the link doesn't get underlined */
    z-index:10; /* raises anchor tag above everything else in div */
    background-color:white; /*workaround to make clickable in IE */
    opacity: 0; /*workaround to make clickable in IE */
    filter: alpha(opacity=1); /*workaround to make clickable in IE */
}

.circle:hover {
	background-color: #c03030;
}

.facebook {
	background-size: 25%;
	background-image: url(../img/social-facebook.png);
}

.twitter {
	background-image: url(../img/social-twitter.png);
}

.linkedin {
	background-size: 35%;
	background-image: url(../img/social-linkedin.png);
}

.tumblr {
	background-size: 35%;
	background-image: url(../img/social-tumblr.png);
}

.bottom {
  margin-top: 100px;
  width: 370px;
}

.social-side {
	margin-top: 25px;
	margin-bottom: 25px;
}


/*About Page*/

h4.headline,
h3.homework-title {
	font-family: 'Open Sans', Helvetica, Sans-Serif;
}

p,
ul,
li {
	font-family: 'PT Serif', Georgia, Serif;
}


/*Experiments Page*/

.post-text p ol li ul {
  text-align: justify;
  font-size: 14px;
  font-family: 'Open Sans', Helvetica, Sans-Serif;
}

.myalert {
	background-color: #40aaef;

  /*border-color: #04c #04c #002a80 #04c;*/
  /*border-width: 1px;*/
  /*border-style: solid;*/
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font: 14px/20px "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0;
  padding: 12px 12px;
  text-align: left;
  text-decoration: none;
  /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
  vertical-align: middle;
  width: 90%;
  margin: 10px;
}

.myalert-large {
	padding-top: 40px 12px;
	font-size: 20px;
}

.mysuccess {
	background-color: #56be8e;
}

.mywarning {
	background-color: #faa928;
}

.myerror {
	background-color: #f27398;
}

.mywell {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  /*background-color: #f5f5f5;*/
  border: 1px solid #e3e3e3;/*
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);*/
}

/*Photo pages for practicing floats*/
.row-a {
  margin-left: -20px;
  *zoom: 1;
}

.row-a:before,
.row-a:after {
  display: table;
  line-height: 0;
  content: "";
}

.row-a:after {
  clear: both;
}

.firstrow img {
  height: 120px;
  width: 100%;
  border-bottom: 5px solid white;
  border-left: 5px solid white;
}

.secondrow img {
  height: 470px;
  width: 100%;
  border-bottom: 5px solid white;
  border-left: 5px solid white;
}

.thirdrow img {
  height: 218px;
  width: 100%;
  border-bottom: 5px solid white;
  border-left: 5px solid white;
}

[class*="spad"] {
  float: left;
  min-height: 1px;
  margin: 0px;
 /* margin-left: 10px;
  margin-right: 10px;*/
}

.container-a {
  width: 960px;
}

.container-a {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}

.container-a:before,
.container-a:after {
  display: table;
  line-height: 0;
  content: "";
}

.container-a:after {
  clear: both;
}

.spad-6a {
  width: 960px;
}

.spad-5a {
  width: 800px;
}

.spad-4a {
  width: 640px;
}

.spad-3a {
  width: 480px;
}

.spad-2a {
  width: 320px;
}

.spad-1a {
  width: 160px;
}

.container-a {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
  position: relative;
}

.container-a:before,
.container-a:after {
  display: table;
  line-height: 0;
  content: "";
}

.container-a:after {
  clear: both;
}


.bttn.header:hover {
  -webkit-box-shadow:rgba(0,0,0,0) 0 1px 2px,rgba(0,0,0,0.5) 0 2px 4px inset;
  -moz-box-shadow:rgba(0,0,0,0) 0 1px 2px,rgba(0,0,0,0.5) 0 2px 4px inset;
  box-shadow:rgba(0,0,0,0) 0 1px 2px,rgba(0,0,0,0.5) 0 2px 4px inset;
  background:#276a77;
}

/*Family Tree*/

.generation {
  margin-bottom: 70px;
}

.grandkids {
  margin-left: 30px;
}

.phil-kids {
  position: relative;
  left: 100px;
  display: inline-block;
}

.al-so {
  position: relative;
  left: 10px;
  display: inline-block;
}

.married {
  margin-left: 35px;
}

.phil-pam {
  position: relative;
  left: 120px;
  display: inline-block;
}

.audrey {
  position: relative;
  left: 90px;
  display: inline-block;
}

.dad-mom {
  position: relative;
  left: 270px;
  display: inline-block;
}

.grandparents-dad {
  position: relative;
  left: 75px;
  display: inline-block;
}

.grandparents-mom {
  position: relative;
  left: 160px;
  display: inline-block;
}

.tree {
  height: 900px;
  width: 100%;
  background-image: url(../img/family-lines-grey.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 180px;
  z-index: -1;
}

/*Tooltips*/


p.photo_container {
  width: 135px;
  height: 180px;
  position: relative;
  display: inline-block;
}

p.photo_container a {
  text-decoration: none;
  color: black;
  cursor: default;
  font-weight: normal;
}

p.photo_container a span {
  visibility:hidden;
  position:absolute;
  bottom: 0px;
  background-color:rgba(0,0,0,0.5);
  color: white;
  width:130px;
  font-size:92%;
  padding:3px;
  cursor:default;
}

p.photo_container a:hover span {
  visibility:visible;
}

p.photo_container img {
  /*border:1px solid gray;*/
}
