p,
ul,
li {
  font: 14px "PT Serif", Georgia, Serif; }

@media screen and (min-width: 650px) {
  .works .container-fluid {
    width: 960px;
    margin: auto; } }

.span3 a {
  text-decoration: none;
  color: #333333;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 700; }
  .span3 a:hover {
    text-decoration: underline; }

.top {
  background-color: #c03030;
  position: relative;
  top: -11px;
  left: 0;
  width: 100%;
  height: 330px; }
  @media screen and (min-width: 650px) {
    .top {
      height: 700px; } }

.welcome {
  position: relative;
  top: 27%;
  margin: 0 auto;
  text-align: center; }

.center-head h1 {
  font-size: 2.5em;
  line-height: 1em;
  color: black; }
  @media screen and (min-width: 350px) {
    .center-head h1 {
      font-size: 4em; } }
  @media screen and (min-width: 650px) {
    .center-head h1 {
      font-size: 10em; } }

.swork {
  margin-left: -24px;
  margin-right: -17px; }
  @media screen and (min-width: 650px) {
    .swork {
      margin-left: -33px; } }

.kwor {
  margin-left: -26px; }
  @media screen and (min-width: 650px) {
    .kwor {
      margin-left: -46px; } }

.of {
  font-family: "Gentium Book Basic", serif;
  font-style: italic;
  color: black;
  font-size: 1em;
  letter-spacing: 1px; }
  @media screen and (min-width: 650px) {
    .of {
      font-size: 1.6em; } }

.audreyt {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: white;
  font-size: 1.5em;
  letter-spacing: 8px;
  margin-top: 0px;
  margin-left: 8px;
  text-transform: uppercase; }
  @media screen and (min-width: 650px) {
    .audreyt {
      font-size: 2em;
      letter-spacing: 40px;
      margin-top: 45px;
      margin-left: 25px; } }

.projects {
  padding-top: 60px;
  padding-bottom: 60px; }

h1.company {
  font-family: "Georgia", serif;
  font-weight: 200;
  letter-spacing: 1px;
  margin-top: 30px; }

.project {
  position: relative;
  height: 200px;
  width: 297px;
  display: inline-block;
  overflow: hidden;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -webkit-transition: -webkit-filter 0.5s ease-in-out;
  -moz-transition: -moz-filter 0.5s ease-in-out;
  -ms-transition: -ms-filter 0.5s ease-in-out;
  -o-transition: -o-filter 0.5s ease-in-out; }

a:hover {
  text-decoration: none; }
  a:hover .project {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0); }
  a:hover .project-name {
    opacity: 1; }

.span8.offset1 a img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -webkit-transition: -webkit-filter 0.15s ease-in-out;
  -moz-transition: -moz-filter 0.15s ease-in-out;
  -ms-transition: -ms-filter 0.15s ease-in-out;
  -o-transition: -o-filter 0.15s ease-in-out; }

.span8.offset1:hover img {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0); }

.sochi {
  background-image: url("../img/mountains.jpg"); }

.ep {
  background-image: url("../img/ep-2.jpg"); }

.waggit {
  background-image: url("../img/waggit.jpg"); }

.torres {
  background-image: url("../img/torres.jpg"); }

.gearlance {
  background-image: url("../img/gearlance.jpg"); }

.homeswap {
  background-image: url("../img/homeswap.jpg"); }

.assurant {
  background-image: url("../img/assurant.jpg"); }

.project-name {
  position: absolute;
  bottom: 0px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  font-size: 13.5px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #eeeeee;
  background-color: black;
  width: 100%;
  padding: 8px 0 8px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: left; }

.section-head {
  position: relative;
  text-align: center;
  margin: 0px auto 10px; }
  @media screen and (min-width: 650px) {
    .section-head {
      margin: 70px auto 30px; } }

section h1.content {
  text-transform: uppercase;
  font-family: "Georgia", serif;
  font-weight: 300;
  font-size: 1.2em;
  letter-spacing: 3px;
  position: relative;
  top: -30px;
  display: inline-block;
  background-color: white;
  padding-left: 35px;
  padding-right: 20px; }
  @media screen and (min-width: 650px) {
    section h1.content {
      letter-spacing: 15px;
      font-size: 2em; } }

.divide {
  border-top: 1px solid black;
  position: relative;
  text-align: center;
  margin: 30px auto 0px;
  width: 200px; }
  @media screen and (min-width: 350px) {
    .divide {
      margin: 30px auto 20px;
      width: 300px; } }
  @media screen and (min-width: 650px) {
    .divide {
      margin: 70px auto 30px;
      width: 585px; } }

.divide p.of {
  position: relative;
  top: -11px;
  display: inline-block;
  background-color: #c03030;
  padding-left: 10px;
  padding-right: 9px; }
  @media screen and (min-width: 650px) {
    .divide p.of {
      top: -13px;
      background-color: #c03030;
      padding-left: 26px;
      padding-right: 20px; } }

.top-margin {
  margin-top: 40px; }

.no-border {
  border: none; }

.quote {
  font-family: "Gentium Book Basic", serif-webkit-body;
  font-style: italic;
  font-size: 1.75em;
  letter-spacing: 1px;
  line-height: 1.2em;
  margin: auto; }

.amy {
  margin-top: 10px;
  font-family: "Gentium Book Basic", serif-webkit-body;
  text-transform: uppercase; }

.center-text {
  float: none;
  margin: 0 auto;
  text-align: center; }

.projects hr {
  background: #333333;
  border: 0;
  height: 3px;
  margin: 19px 0 22px 0;
  width: 100px; }

.one-liner {
  color: #c03030;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  margin: 0 0 10px 0; }

.description {
  text-align: justify; }

.firstletter {
  float: left;
  font-size: 40px;
  line-height: 33px;
  padding-top: 4px;
  padding-right: 8px; }

.sm-view {
  display: inline; }
  @media screen and (min-width: 980px) {
    .sm-view {
      display: none; } }

#about-audrey {
  padding: 60px 0px; }

.inline a {
  display: inline-block; }

.no-margin {
  margin-left: 0px; }

[class*="col"] {
  float: left;
  min-height: 1px;
  margin: 0px; }

.col-5 {
  width: 100%; }

.col-4 {
  width: 80%; }

.col-3 {
  width: 60%; }

.col-2 {
  width: 40%; }

.col-1 {
  width: 20%; }

.col-half {
  width: 10%; }

.row-a img {
  border-left: 3px solid white;
  border-top: 3px solid white; }

.row-a img:last-child {
  border-right: 3px solid white; }

.row-a:last-child img {
  border-bottom: 3px solid white; }

.tall img {
  height: 180px;
  width: 100%; }

.grande img {
  height: 470px;
  width: 100%; }

.container-middle {
  margin: 0 auto; }
  @media (max-width: 700px) {
    .container-middle {
      max-width: 85%; } }

.firstrow img {
  height: 120px;
  width: 100%;
  border-bottom: 5px solid white;
  border-left: 5px solid white; }

.secondrow img {
  height: 470px;
  width: 100%;
  border-bottom: 5px solid white;
  border-left: 5px solid white; }

.fourthrow img {
  height: 200px;
  width: 100%;
  border-bottom: 10px solid white;
  border-left: 10px solid white; }

.rel-inlineb, .phil-kids, .al-so, .phil-pam, .audrey, .dad-mom, .grandparents-dad, .grandparents-mom {
  position: relative;
  display: inline-block; }

.phil-kids {
  left: 100px; }

.al-so {
  left: 10px; }

.phil-pam {
  left: 120px; }

.audrey {
  left: 90px; }

.dad-mom {
  left: 270px; }

.grandparents-dad {
  left: 75px; }

.grandparents-mom {
  left: 160px; }

.phil-kids {
  left: 100px;
  position: relative;
  display: inline-block; }

.al-so {
  left: 10px;
  position: relative;
  display: inline-block; }

.phil-pam {
  left: 120px;
  position: relative;
  display: inline-block; }

.audrey {
  left: 90px;
  position: relative;
  display: inline-block; }

.dad-mom {
  left: 270px;
  position: relative;
  display: inline-block; }

.grandparents-dad {
  left: 75px;
  position: relative;
  display: inline-block; }

.grandparents-mom {
  left: 160px;
  position: relative;
  display: inline-block; }

.btn {
  -webkit-box-shadow: 2px 2px 0 white;
  -moz-box-shadow: 2px 2px 0 white;
  box-shadow: 2px 2px 0 white; }

.temp {
  background-color: red; }

.item-1 {
  width: 2em; }

.item-2 {
  width: 4em; }

.item-3 {
  width: 6em; }

.item-4 {
  width: 8em; }

.item-5 {
  width: 10em; }

.item-6 {
  width: 12em; }

.fb-icon {
  background-image: url("/images/fb.png");
  background-size: 55%; }

.twttr-icon {
  background-image: url("/images/twttr.png");
  background-size: 55%; }

.lnkdn-icon {
  background-image: url("/images/lnkdn.png");
  background-size: 55%; }

.tmblr-icon {
  background-image: url("/images/tmblr.png");
  background-size: 55%; }

.spad-1a {
  width: 160px;
  color: rgba(208, 99, 54, 0.25); }

.spad-2a {
  width: 320px;
  color: rgba(208, 99, 54, 0.25); }

.spad-3a {
  width: 480px;
  color: rgba(208, 99, 54, 0.25); }

.spad-4a {
  width: 640px;
  color: rgba(208, 99, 54, 0.25); }

.spad-5a {
  width: 800px;
  color: rgba(208, 99, 54, 0.25); }

.spad-6a {
  width: 960px;
  color: rgba(208, 99, 54, 0.25); }

.div {
  background-color: #cccccc; }
