.show {
  background-color: yellow;
}

.center-head {
	margin-top: 50px;
	margin-bottom: 30px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.titlenav {
  margin: 0 auto;
  text-align: center;
}

.center-head h1 {
	font-family: 'Georgia', Times;
	letter-spacing: 20px;
  text-align: center;
	font-weight: 500;
  text-transform: uppercase;
}

.center-head h4 {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 1px;
	font-weight: 200;
  margin-bottom: 50px;
}

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  *zoom: 1;
}

.navbar-a {
  max-width: 500px;
  margin: 0 auto;
  display: block;
}

.navbar-b {
  list-style-type: none;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  margin: 0 auto;
}

.navbar-a li a {
  display: inline;
  float: left;
  padding: 10px 55px 10px 0px;
  text-transform: uppercase;
  font-size: 12px;
  color: #777777;
}

.navbar-a li a:hover {
  text-decoration: none;
  color: #c03030;
}

.navbar-b li:last-child a {
  padding-right: 5px;
}

.navbar-b li:first-child a {
  padding-left: 5px;
}

.navbar-inner {
	min-height: 40px;
	padding-right: 20px;
	padding-left: 20px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	color: #6a6a6a;
}

.top {
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
}

.container-middle {
  margin: 0 auto;
  max-width: 800px;
}

.container-middle-home {
  max-width: 800px;
  margin: 0 auto;
}

#audreyphoto {
  width: 100%;
}

h4.welcome,
ul.contents li a {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
}

@media (max-width: 800px) {

.container-middle {
    margin: 0 auto;
    max-width: 85%;
}
.container-middle-home .span5 h4,
.container-middle-home .span5 .social {
 margin: 10px 1.4285714285714px;
}

.span8,
.span7,
.span6,
.span5,
.span4 {
  min-width: 97.1428571428571%;
}
}

@media (max-width: 500px) {
 .navbar-a li a {
  padding: 10px 10px 10px 10px;
}

.container-middle {
  margin: 7%;
}
.container-middle-home .span5 h4,
.container-middle-home .span5 .social {
 margin-left: 1.4285714285714%;
 margin-right: 1.4285714285714%
}
.span7,
.span6,
.span5,
.span4 {
  min-width: 97.1428571428571%;
}
.row-fluid .span7 {
  width: 100%;
  *width: 100%;
}


}

.social {
	margin-top: 50px;
}

.circle {
	border-radius: 100%;
	background: #777;
	list-style-type: none;
	width: 48px;
	height: 48px;
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center;
	position: relative; /*Containing div must have a position value */
  display: inline-block;
}

.circle a {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-decoration:none; /* Makes sure the link doesn't get underlined */
    z-index:10; /* raises anchor tag above everything else in div */
    background-color:white; /*workaround to make clickable in IE */
    opacity: 0; /*workaround to make clickable in IE */
    filter: alpha(opacity=1); /*workaround to make clickable in IE */
}

.circle:hover {
	background-color: #c03030;
}

.facebook {
	background-size: 25%;
	background-image: url(../img/social-facebook.png);
}

.twitter {
	background-image: url(../img/social-twitter.png);
}

.linkedin {
	background-size: 35%;
	background-image: url(../img/social-linkedin.png);
}

.tumblr {
	background-size: 35%;
	background-image: url(../img/social-tumblr.png);
}

.bottom {
  margin-top: 100px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  color: #777777;
}

.social-side {
	margin-top: 25px;
	margin-bottom: 25px;
}


/*About Page*/

h4.headline,
h3.homework-title {
	font-family: 'Open Sans', Helvetica, Sans-Serif;
}

p,
ul,
li {
	font-family: 'PT Serif', Georgia, Serif;
}


/*Experiments Page*/

.post-text {
  text-align: justify;
  font-size: 14px;
  font-family: 'PT Serif', Georgia, Serif;
  padding-right: 30px;
}

@media (max-width: 500px) {
  .post-text {
    padding-right: 0px;
    }
}

.post-text p:nth-of-type(n+2) {
  text-indent: 10%;
}

.post-text p:first-of-type {
  font-style: italic;
}

.post-text a[href^="https://"]:before {
  padding: 2px;
  content: url(../img/lock.png);
}

.post-text a[target="_blank"]:after {
  padding: 2px;
  content: url(../img/ui-tab--arrow.png) ;
}

.myalert {
	background-color: #40aaef;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font: 14px/20px "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0;
  padding: 12px 12px;
  text-align: left;
  text-decoration: none;
  vertical-align: middle;
  width: 100%;
  margin-bottom: 10px;
}

.myalert-large {
	font-size: 20px;
}

.mysuccess {
	background-color: #56be8e;
}

.mywarning {
	background-color: #faa928;
}

.myerror {
	background-color: #f27398;
}

.mywell {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  /*background-color: #f5f5f5;*/
  border: 1px solid #e3e3e3;/*
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);*/
}

.toggle {
  /*text-align: center;*/
  position: relative;
}

.camera-1,
.camera-2 {
  display: inline-block;
  padding-bottom: 10px;
  border-radius: 100%;
}

.wayne {
  border-radius: 100%;
  padding: 10px;
}

.camera {
  width: 93%;
}

.btn.btn-info.camera.warn {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}


.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}



/*Photo pages for practicing floats*/
.row-a {
  margin-left: -20px;
  *zoom: 1;
}

.row-a:before,
.row-a:after {
  display: table;
  line-height: 0;
  content: "";
}

.row-a:after {
  clear: both;
}

.firstrow img {
  height: 120px;
  width: 100%;
  border-bottom: 5px solid white;
  border-left: 5px solid white;
}

.secondrow img {
  height: 470px;
  width: 100%;
  border-bottom: 5px solid white;
  border-left: 5px solid white;
}

.thirdrow img {
  height: 218px;
  width: 100%;
  border-bottom: 5px solid white;
  border-left: 5px solid white;
}

[class*="spad"] {
  float: left;
  min-height: 1px;
  margin: 0px;
 /* margin-left: 10px;
  margin-right: 10px;*/
}

.container-a {
  width: 960px;
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.container-a:before,
.container-a:after {
  display: table;
  line-height: 0;
  content: "";
}

.container-a:after {
  clear: both;
}

.spad-6a {
  width: 960px;
}

.spad-5a {
  width: 800px;
}

.spad-4a {
  width: 640px;
}

.spad-3a {
  width: 480px;
}

.spad-2a {
  width: 320px;
}

.spad-1a {
  width: 160px;
}


/*Fluid photos*/

.container-a-fluid {
  max-width: 960px;
  *zoom: 1;
  margin: 0 auto;
}

.container-a-fluid:before,
.container-a-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}

.container-a-fluid:after {
  clear: both;
}

.row-a-fluid {
  width: 100%
  *zoom: 1;
}

.spad-4a-fluid {
  width: 66.6666666666667%;
}

.spad-2a-fluid {
 width: 33.3333333333333%;
}

.spad-1a-fluid {
  width: 16.6666666666667%; /* 1/six columns */
}

@media (max-width: 960px ) {
.container-a-fluid {
  max-width: 750px;
}

.firstrow .spad-4a-fluid,
.thirdrow .spad-4a-fluid {
  width: 66.6666666666667%;
}

.firstrow .spad-2a-fluid,
.thirdrow .spad-2a-fluid {
  width: 66.6666666666667%;
}

.firstrow .spad-1a-fluid,
.thirdrow .spad-1a-fluid {
  width: 33.3333333333333%;  /* 1/three columns*/
}
} /*media query*/


.bttn.header:hover {
  -webkit-box-shadow:rgba(0,0,0,0) 0 1px 2px,rgba(0,0,0,0.5) 0 2px 4px inset;
  -moz-box-shadow:rgba(0,0,0,0) 0 1px 2px,rgba(0,0,0,0.5) 0 2px 4px inset;
  box-shadow:rgba(0,0,0,0) 0 1px 2px,rgba(0,0,0,0.5) 0 2px 4px inset;
  background:#276a77;
}

/*Family Tree*/

.generation {
  margin-bottom: 70px;
}

.grandkids {
  margin-left: 30px;
}

.phil-kids {
  position: relative;
  left: 100px;
  display: inline-block;
}

.al-so {
  position: relative;
  left: 10px;
  display: inline-block;
}

.married {
  margin-left: 35px;
}

.phil-pam {
  position: relative;
  left: 120px;
  display: inline-block;
}

.audrey {
  position: relative;
  left: 90px;
  display: inline-block;
}

.dad-mom {
  position: relative;
  left: 270px;
  display: inline-block;
}

.grandparents-dad {
  position: relative;
  left: 75px;
  display: inline-block;
}

.grandparents-mom {
  position: relative;
  left: 160px;
  display: inline-block;
}

.tree {
  height: 900px;
  width: 100%;
  background-image: url(../img/family-lines-grey.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 180px;
  z-index: -1;
}

/*Tooltips*/


p.photo_container {
  width: 135px;
  height: 180px;
  position: relative;
  display: inline-block;
}

p.photo_container a {
  text-decoration: none;
  color: black;
  cursor: default;
  font-weight: normal;
}

p.photo_container a span {
  visibility:hidden;
  position:absolute;
  bottom: 0px;
  left: 0px;
  background-color:rgba(0,0,0,0.5);
  color: white;
  width:130px;
  font-size:92%;
  padding:3px;
  cursor:default;
}

p.photo_container a:hover span {
  visibility:visible;
}

p.photo_container img {
  /*border:1px solid gray;*/
}

/*Resume Page*/
.date-ranges,
h2.work-experience,
h2.skills,
h2.education,
h3.job-employer,
h4.job-location,
h5.job-title,
h4.headline,
h3.homework-title {
  font-family: 'Open Sans', Helvetica, Sans-Serif;
}

h2.work-experience,
h2.skills,
h2.education {
  /*font-size: 14px;*/
  font-size: 1.7em;
}


#resumetitle {
  font-family: 'Georgia', Times;
  font-size: 2em;
  letter-spacing: 2px;
  font-weight: 300;
  text-align: center;
  padding-bottom: .5em;
  margin: .5em auto;
  border-bottom: 3px double;
  text-transform: uppercase;
}

#resumetitle a {
  text-decoration: none;
  color: rgb(51, 51, 51);
}

#resumetitle a:hover {
  color: #c03030;
}

#main {
  margin: 0 auto;
  max-width: 800px;
  padding: 15px;
}


@media (min-width: 500px){

#resumetitle {
  padding-bottom: 40px;
  font-size: 4em;
  margin: .25 auto;
  letter-spacing: 10px;
}

.date-ranges {
  border-radius: 3px;
  margin-top: 10px;
  padding: 10px;
  width: 16%;
  float: left;
}

article {
  padding: 10px 15px;
  transition: all .5s ease;
    -o-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
}

article:hover {
  background-color: #f2f2f2;
  /*border-radius: 10px;*/
}

article hgroup {
  float: right;
  width: 75%;
}

article:before,
article:after {
  content: "";
  display: table;
}
article:after {
  clear: both;
}
article {
  *zoom: 1;
}
.job-start,
.job-end {
  text-align: right;
  float: left;
}
.container-resume {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
}

#main {
  margin: 0 auto;
  max-width: 800px;
  padding-top: 50px;
}

#main .span4 {
margin-top: 15px;
}

.span8 section {
  padding-right: 50px;
}

.span12 .social {
  margin-top: 30px;
  text-align: center;
  padding-top: 30px;
  border-top: 3px double;

}

.job-start, .job-end {
clear: left;
width: 100%;
}

.span12 article {
float: left;
clear: left;
margin-bottom: 1em;
}
}

@media (min-width: 501px) and (max-width: 621px) {
  #resumetitle {
  padding-bottom: 40px;
  font-size: 3em;
  margin: .25 auto;
  letter-spacing: 10px;
  }
}

/*Transforms*/
.wrapper {
   position: relative;
   -webkit-perspective: 1000;
   -moz-perspective: 1000;
   -ms-perspective: 1000;
   -o-perspective: 1000;
   margin: 0 0 20px 0;
   display: inline-block;
}

.card {
   width: 245px;
   height: 327px;
   position: relative;
   -webkit-transform-style: preserve-3d;
   -webkit-transition: 0.5s;
   -moz-transform-style: preserve-3d;
   -moz-transition: 0.5s;
   -ms-transform-style: preserve-3d;
   -ms-transition: 0.5s;
   -o-transform-style: preserve-3d;
   -o-transition: 0.5s;
}

.card-fam {
   width: 135px;
   height: 180px;
   position: relative;
   -webkit-transform-style: preserve-3d;
   -webkit-transition: 0.5s;
   -moz-transform-style: preserve-3d;
   -moz-transition: 0.5s;
   -ms-transform-style: preserve-3d;
   -ms-transition: 0.5s;
   -o-transform-style: preserve-3d;
   -o-transition: 0.5s;
}


.wrapper:hover .card,
.wrapper:hover .card-fam {
   -webkit-transform: rotateY(180deg);
   -moz-transform: rotateY(180deg);
   -ms-transform: rotateY(180deg);
   -o-transform: rotateY(180deg);
}

.face {
   position: absolute;
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   -o-backface-visibility: hidden;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   line-height: 50px;
   border-radius: 10px;
}

.face img {
  border-radius: 10px;
}

.front {
  z-index: 10;
}

.back {
  background-image: url(../img/vichy.png);
   -webkit-transform: rotateY(180deg);
   -moz-transform: rotateY(180deg);
   -ms-transform: rotateY(180deg);
   -o-transform: rotateY(180deg);
}

/*family-animate*/
.back-fam {
    background-image: url(../img/vichy.png);
   -webkit-transform: rotateY(180deg);
   -moz-transform: rotateY(180deg);
   -ms-transform: rotateY(180deg);
   -o-transform: rotateY(180deg);
}

.wrapper:hover .front {
   z-index: 0;
}

.face ul {
  list-style-type: none;
  padding: 30px 10px 10px 10px;
}

.face ul li{
  padding-top: 15px;
}

.face.back-fam ul {
  margin: 10px;
  padding: 0px;
}

.face.back-fam ul li {
  padding-top: 0px;
}

.clock-face {
  background-image: url(../img/clock_face.jpg);
  height: 450px;
  width: 100%;
  background-repeat: no-repeat;
  z-index: 1;
  position: relative;
}

@media (max-width: 560px) {
  .clock-face{
    background-size: 80% auto;
    height: 300px;
  }
}

.second-hand {
  z-index: 2;
  position: absolute;
  top: 13%;
  left: 51%;
  -webkit-transform-origin: 51% 95%;
     -moz-transform-origin: 51% 95%;
       -o-transform-origin: 51% 95%;
          transform-origin: 51% 95%;
  -webkit-animation: tick 60s linear 0s infinite;
  -moz-animation: tick 60s linear 0s infinite;
  -o-animation: tick 60s linear 0s infinite;
  animation: tick 60s linear 0s infinite;
}

@media (max-width: 560px){
  .second-hand{
    top: 35px;
    left: 125px;
    height: 30%;
  }
}

@-webkit-keyframes tick {
  0% {
-webkit-transform: rotate(0deg);
  }
  100% {
-webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes tick {
  0% {
  -moz-transform: rotate(0deg);
  }
  100% {
  -moz-transform: rotate(360deg);
  }
}
@-o-keyframes tick {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);

  }
}
@keyframes tick {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.second-hand.paused {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state:paused;
  animation-play-state: paused;
}

.center {
  margin: 30px auto;
  display: block;
}

/*Kickstarter page*/

h1.kickstarter {
  font-size: 29.5px;
}



/*TED page*/

.ted {
  margin-top: -10px;
}

.ted p,
.ted h1,
.ted h2,
.ted h3,
.ted h4 {
  font-family: 'Helvetica', arial, sans-serif;
  font-weight: 200;
}

.tedcolor{
  color: #FF2B06;
  font-weight: 700;
}

.ted p {
  text-align: justify;
}

.ted h1 {
  position: relative;
  top: 140px;
  text-align: center;
}

.ted h2 {
  position: relative;
  top: 25px;
  text-align: center;
}

.line-pattern {
  position: relative;
  background: #fff url(http://www.barrelny.com/wp-content/themes/barrel-2013-theme/im/multi_line_swatch_light.png);
  background-image: url(http://www.barrelny.com/wp-content/themes/barrel-2013-theme/im/multi_line_swatch_light.svg), none;
  min-height: 196px;
  -webkit-box-shadow: inset 0 -10px 10px -10px rgba(0,0,0,.08)
}

.sq-swatch {
  height: 90px;
  background: #f3f3f3 url(http://www.barrelny.com/wp-content/themes/barrel-2013-theme/im/swatch_sq.svg);
}

.cover,
.videos,
.writing {
  margin: 50px auto;
  width: 60%;
  max-width: 700px;
}

.signature {
  width: 200px;
}

.video {
 margin: 75px 0px;
}




